@import "tailwindcss";
@plugin "daisyui" {
  themes: dark, light;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
[data-theme="dark"] .CodeMirror {
  background-color: #1c2431 !important;
  color: #ffffff !important; 
}
 