@import "tailwindcss";
@plugin "daisyui" {
  themes: dark, light;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
 
[data-theme="dark"] .CodeMirror {
  background-color: #1c2431 !important;
  color: #ffffff !important; 
}
 